<!DOCTYPE html>
<html lang="en">

<head>
    <title>DKKHHT</title>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/images/icon.png")"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/fonts/icomoon/style.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/jquery-ui.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.theme.default.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap-datepicker.css")">

    <link rel="stylesheet" href="@Url.Content("~/fonts/flaticon/font/flaticon.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/aos.css")">
    <link href="@Url.Content("~/css/jquery.mb.YTPlayer.min.css")" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    @RenderBody()



    <script src="@Url.Content("~/js/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-migrate-3.0.1.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui.js")"></script>
    <script src="@Url.Content("~/js/popper.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.stellar.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.countdown.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/js/aos.js")"></script>
    <script src="@Url.Content("~/js/jquery.fancybox.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.sticky.js")"></script>
    <script src="@Url.Content("~/js/jquery.mb.YTPlayer.min.js")"></script>




    <script src="@Url.Content("~/js/main.js")"></script>
 
    @RenderSection("scripts", required: false)

</body>

</html>