@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/DKKHHT.cshtml";
}

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>



        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 d-flex">
                        <a href="@Url.Content("~/Home/Index.cshtml")" class="site-logo">
                            Van Lang University
                        </a>

                        <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black">
                            <span class="icon-menu h3"></span>
                        </a>

                    </div>
                    <div class="col-12 col-lg-6 ml-auto d-flex">
                        <div class="ml-md-auto top-social d-none d-lg-inline-block">
                            <a href="#" class="d-inline-block p-3"><span class="icon-facebook-square"></span></a>
                            <a href="#" class="d-inline-block p-3"><span class="icon-mail_outline"></span></a>
                            <a href="#" class="d-inline-block p-3"><span class="icon-instagram"></span></a>
                        </div>
                        <form action="#" class="search-form d-inline-block">

                            <div class="d-flex">
                                <input type="email" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-secondary"><span class="icon-search"></span></button>
                                &ensp;
                                <button type="submit" class="btn btn-secondary"><span>Login</span></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 d-block d-lg-none text-right">
                </div>
            </div>
        </div>




        <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">

                    <div class="mr-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                                <li class="active">
                                    <a href="@Url.Content("~/Home/Index")" class="nav-link text-left" style="color: #ff3333">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/SinhVien/Signup")" class="nav-link text-left">Đăng ký kế hoạch học tập</a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/ViewKH/ViewDK")" class="nav-link text-left">Xem kế hoạch đào tạo</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link text-left">Lịch sử đăng ký KHHT</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="site-section">
        <div class="container">
            <h1 align="center">Website đăng ký kế hoạch học tập</h1>
            <img src="@Url.Content("~/images/VLU2021.jpg")">
        </div>
    </div>



    <div class="footer">
        <div class="container">


            <div class="row">
                <div class="col-12">
                    <div class="copyright">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .site-wrap -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
